<h1>Information for Doctor <%= @doctor.name %></h1>
<h3>Alma Mater:</h3>
<%= @doctor.university %>

<h3>Specialty:</h3>
<%= @doctor.specialty %>

<h3>This Doctor works for:</h3>
<%= @doctor.hospital.name %>